<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/w3.css" />
    <link rel="shortcut icon" href="images/favicon.ico">
    <script src = "./scripts/addStudent.js"></script>
    <title>Edit Course</title>
  </head>
  <body>
      <header>
        <div class="navbar">
            <img
				src="images/wcu_logo.png"
				alt="WCU Logo"
				id="logo"
				align="left"
				/>
            <a href="/">Home</a>
            <% if(user != null) { %>
              <a href="/myClasses">My Classes</a> 
            <% } %>
            
      
            <div class="login-container">
                <% if(user == null) { %>
                    <a href="/login">Sign In</a>
                    <a href="/register">Register</a>
                <% }else{ %>
                    <a href="/profile">Profile</a>
                    <form action="/logout?_method=DELETE" method="POST">
                        <button type="submit">Log Out</button>
                    </form>
                <% } %>
                 

            </div>
          </div>
      </header>
    <h1 id="main"></h1>
    
    <div class="w3-row" id = "purplediv">
      <div class="w3-rest w3-container  w3-padding-32" style= "text-align: center; ">

          <% if(error != null){%>
          <%= error %>
          <% } %>
          <br>
        <button><a href= "/classesInfo" style = "text-decoration: none;">Exit</a></button><br>
        Class: <%= course.course_id %>-<%=course.section %> 
        
        <br>
        
        <div class = "w3-row" style = "border-top: 1px solid black;border: 1px solid black; ">
            <div class = "w3-col" style ="align-items: left;">
                
                <h4>Students</h4>
                <select size = "10" name = "classes" id= "clases" style = "width:auto; text-align: center;">

                    <% for(let i=0; i < students.length;i++){ %>
                        
                        <option value = "<%= students[i]._id %>"> <%= students[i].first %> , <%= students[i].last %> , <%= students[i].email %> , <%= students[i].studentId %></option>
                    
                    <% } %>
                </select>
                
            </div> 
        </div>
        <form action='/editCourse' enctype="multipart/form-data" method ='POST' name = 'addSurvey'>
          
          
          <div class = 'w3-row' >
              <h3>Upload CSV file of survey results</h3>
              
              For Class :
              <input type = "text" name = "courseName" value = "<%= course.course_id %>,<%=course.section %>" readonly><br>
              <input placeholder='Enter description of course' type = 'file' name='fileName'style = width:50%,height: 25%;></div>
              <div class = 'w3-row'>
                <button id = 'submitButton' type = 'submit' >Submit CSV</button></div>
          </div>
        </form>

        
        
        
      </div>
      <div id = "addingItems"style= "text-align: center; width:100%" ></div>
    </div>
  </body>
</html>
