<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/w3.css" />
    <link rel="shortcut icon" href="images/favicon.ico">
    <script defer src="./scripts/enrollmentScript.js"></script>
    <title>Homepage</title>
  </head>
  <body>
      <header>
        <div class="navbar">
            <img
              src="images/Progranimate_logo.png"
              alt="Progranimate Logo"
              id="logo"
              align="left"
            />
            <a href="/">Home</a>
            <a href="/create">Create</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
            <a href="/learn">Learn</a> 
            <a href="/myClasses">My Classes</a> 
            <a href="/enrollment">Enroll</a> 
            
            <div class="login-container" >
              <a href="/profile">Profile</a>
              <form action="/logout?_method=DELETE" method="POST">
                  <button type="submit">Log Out</button>
              </form>
                
            </div>
          </div>
      </header>
    <h1 id="main"></h1>
    
    
      <div class="w3-rest w3-container w3-orange w3-padding-32" style = "width: 100%;">
        
        <div style = "text-align: center;">
          
          <% if(user.verified != true){%>
            <form action="/myClasses" method="POST">
              Your account is not verified yet. Please verify your account now<br>
              Resend a link to your email? <button id = "resend_link" name = "resend_link" type="submit">Click here</button>
            </form> 
            
          <% }else{ %>
            <h2 style="text-align:center;">
              Current Courses:
            </h2>
            <% if(user.Enrolled.length == 0){ %>
              
              You are currently not enrolled in any courses. Enroll below<br>
              
            <%}else{ %>
                Currently working on:
                <% for(let i=0; i< user.Enrolled.length;i++){ %>
                    <%if(user.Enrolled[i].current){ %>
                        <div class = "w3-row" style = "border-top: 1px solid black;border: 1px solid black">
                            <div class = 'w3-col' style = "height : fit-content;width: 20%;">
                              Course name: <%= user.Enrolled[i].course.course_name %>
                            </div>
                            <div class = 'w3-col' style = "height : fit-content;width: 20%;">
                              Course id: <%= user.Enrolled[i].course.course_id %>
                            </div>
                            <div class = 'w3-col'style = "height : fit-content;width: 20%; ">
                              Course Language: <%= user.Enrolled[i].course.course_language %>
                            </div>
                            <div class = 'w3-col'style = "height : fit-content;width: 20%;">
                              Course description: <%= user.Enrolled[i].course.description %>
                            </div>
                            <div class = 'w3-col'style = "height : fit-content;width: 20%;">
                              Percentage done: <%= user.Enrolled[i].progress.percentage_Complete %>%
                            </div>
                          </div>
                    <% } %>
                <% } %>
                Other classes you are Enrolled in:
              <% for(let i=0; i< user.Enrolled.length;i++){ %>
                <%if(!user.Enrolled[i].current){ %>
                    <div class = "w3-row" style = "border-top: 1px solid black;border: 1px solid black">
                        <div class = 'w3-col' style = "height : fit-content;width: 20%;">
                          Course name: <%= user.Enrolled[i].course.course_name %>
                        </div>
                        <div class = 'w3-col' style = "height : fit-content;width: 20%;">
                          Course id: <%= user.Enrolled[i].course.course_id %>
                        </div>
                        <div class = 'w3-col'style = "height : fit-content;width: 20%; ">
                          Course Language: <%= user.Enrolled[i].course.course_language %>
                        </div>
                        <div class = 'w3-col'style = "height : fit-content;width: 20%;">
                          Course description: <%= user.Enrolled[i].course.description %>
                        </div>
                        <div class = 'w3-col'style = "height : fit-content;width: 20%;">
                          Percentage done: <%= user.Enrolled[i].progress.percentage_Complete %>%
                        </div>
                      </div>
                <% } %>
              <% } %>
                
            <% }%>
          <% } %>
        </div>
      </div>
        
        
      
    
    
    
  </body>
</html>